.input-form {
  max-width: 550px;
  position: relative;
  left: 80px;
  text-align: left;
  p {
    padding-left: 80px;
  }
  .add-file {
    margin: 0 0 30px 80px;
  }
  form button {
    margin-left: 80px;
  }
  .warning {
    color: #000000;
    font-size: 11px;
  }
  .warning2 {
    padding-left: 20px;
    margin-bottom: 0;
    display: inline-block;
    color: #ff0a00;
    font-size: 11px;
  }
  .captcha-error {
    color: #ff0a00;
    font-size: 11px;
    padding-left: 100px;
    margin-bottom: 0;
    display: none;
    height: 26px;
  }
  .preview-container {
    padding-left: 70px;
    .preview {
      padding: 10px;
    }
  }
  form > input:last-child {
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 80px;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    background: #fff600;
    font-size: 16px;
    color: #3b3b3b;
  }
  form p {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 12px;
  }
  form > input:last-child:hover {
    background: #227ddc;
    color: #fff;
  }
  label {
    display: block;
    text-align: left;
    input {
      margin: 10px;
    }
  }
  label:nth-child(1) {
    padding-left: 30px;
  }
  label:nth-child(2) {
    padding-left: 25px;
  }
  textarea {
    margin: 10px 10px 5px 80px;

  }
}
.comments {
  tbody {
    display: block;
    padding: 10px 0;
  }
  .nesting1 {
    color: #d10004;
    padding-left: 30px;
  }
  .nesting2 {
    color: #fb8f11;
    padding-left: 60px;
  }
  .nesting3 {
    color: #e7e300;
    padding-left: 90px;
  }
  .nesting4 {
    color: #00fb0c;
    padding-left: 120px;
  }
  .nesting5 {
    color: #00cdfb;
    padding-left: 150px;
  }
  .nesting6 {
    color: #0012fb;
    padding-left: 180px;
  }
  .nesting7 {
    color: #ec02e6;
    padding-left: 210px;
  }
  .nesting8 {
    color: #60d0a7;
    padding-left: 240px;
  }
  .nesting9 {
    color: #0012fb;
    padding-left: 270px;
  }
  .nesting10 {
    color: #0012fb;
    padding-left: 300px;
  }
  .pages-buttons {
    display: inline-block;
  }
  .pages-buttons a {
    text-decoration: none;
    color: #2980b9;
    background: #f5f6f8;
    position: relative;
    margin: 3px;
    display: inline-block;
    padding: 3px 10px;
    font-size: 18px;
  }
}